<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Mini Model Daemon - Dashboard</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <style>
    * \{
        font-family: "Roboto", sans-serif;
    }
    </style>
</head>
<body style="background: center no-repeat url('splash-bg.png');">

<h1>Mini Model Daemon Dashboard</h1>

<section>
    <p>
        Loaded model:
        {{ if loading }}
        Loading...
        {{ else }}
        {loaded_model}
        {{ endif }}
    </p>
    <p>API URL: <input type="text" value="http://127.0.0.1:5000/api" readonly/></p>
</section>

<form action="/load_model" method="post">
    <h2>Load Model</h2>

    <div>
        <div style="width:150px;display:inline-block">
            <label for="model-id">Model ID</label>
        </div>
        <select name="model-id" id="model-id" required>
            <option value="">Select Model...</option>
            {{ for model in models }}
            {{ if model.available }}
            <option value="{model.id}">{model.id}</option>
            {{ endif }}
            {{ endfor }}
        </select>
    </div>

    <div>
        <div style="width:150px;display:inline-block">
            <label for="model-quantization">Quantization</label>
        </div>
        <select id="model-quantization" name="model-quantization">
            <option value="int8">Int8</option>
            <option value="nf4">NF4</option>
        </select>
    </div>

    <input type="submit" value="Load" {{ if loading }}disabled{{ endif }}/>
</form>

<section>
    <h2>Models</h2>
    {{ for model in models }}
    <div>
        <h3>{model.id}</h3>
        {{ if model.available }}
        <p style="color:green">Model available!</p>
        {{ else }}
        <p style="color:red">Missing model file! <a href="{model.download_link}">download</a></p>
        {{ endif }}
    </div>
    {{ endfor }}
</section>

</body>
</html>